name: node workflow

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest        
          - windows-latest
        node_version:         
          - 12
          - 14        
    steps:
      - uses: actions/checkout@v2
      - name: Setup node v ${{ matrix.node_version }}   
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}         
      - run: npm install
      - run: npm test
